<.flash_group flash={@flash} />

<div class="flex max-w-7xl mx-auto h-screen items-center place-content-center">
  <%= if assigns[:current_user] do %>
    <span>Hello, World!</span>
  <% else %>
    <a href={~p"/users/log_in"} class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80">
      Log In <span aria-hidden="true">&rarr;</span>
    </a>
  <% end %>
</div>
